#form_511{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor:default;
    justify-content: flex-start;
}

#form_511 form .row{
    height:50px;
    padding-left:25px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row p{
    margin-right:10px;
}

.row input{
    height:25px;
}

#input-button{
    justify-content: flex-end;
    height:30px;
    padding-right:25px;
}

.form__information{
    padding-left:10px;
}

.form__information h2{
    font-size:20px;
    margin-bottom:15px;
}

.form__information ul li{
    font-size:15px;
    margin-bottom:10px;
    line-height: 18px;
}