@media screen and (min-width:991px){
    #map{
        height:100%;
    }
    #form_511{
        height:100%;
        flex-direction: column;
    }

    #modal #modal__window{
        width:800px;
        height:600px;
    }

    #window-title{
        display:flex;
    }
}

@media screen and (min-width:751px) and (max-width:991px){
    #map{
        height:60%;
    }
    #form_511{
        height:40%;
        flex-direction: column;
    }

    #modal #modal__window{
        width:80%;
        min-height:70%;
    }

    #window-title{
        display:flex;
    }


}

@media screen and (max-width:750px) {
    #map {
        height: 500px;
    }

    #form_511{
        min-height:40%;
        flex-direction: column;
    }

    #modal #modal__window{
        width:90%;
        height:90%;
    }

    #window-title{
        display:none;
    }
}